{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "share": true,
    "getController": true,
    "getValidate": true,
    "getLogger": true,
    "getService": true,
    "getJoi": true,
    "getModel": true
  },
  "rules": {
    "max-depth": [
      "error",
      {
        "max": 3
      }
    ],
    "radix": [
      "off"
    ],
    "max-len": [
      "off"
    ],
    "object-curly-spacing": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "import/no-dynamic-require": [
      "off"
    ],
    "global-require": [
      "off"
    ],
    "class-methods-use-this": [
      "off"
    ]
  }
}