{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "share": true,
    "getController": true,
    "getValidate": true,
    "getLogger": true,
    "getService": true,
    "getModel": true,
    "getJoi": true
  },
  "rules": {
    "max-depth": [
      "error",
      {
        "max": 3
      }
    ],
    "radix": [
      "off"
    ],
    "max-len": [
      "off"
    ],
    "object-curly-spacing": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "import/no-dynamic-require": [
      "off"
    ],
    "global-require": [
      "off"
    ],
    "class-methods-use-this": [
      "off"
    ],
    "no-restricted-syntax": [
      "off"
    ],
    "no-await-in-loop": [
      "off"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "object-curly-newline": [
      "off",
      {
        "minProperties": 100000
      }
    ],
    "newline-per-chained-call": [
      "off"
    ],
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": true
      }
    ]
  }
}